@model ShibbolethSampleMVC.Models.User
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CSU Shibboleth on MVC</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            I've created a sample Shibboleth Solution using MVC which should help when either creating new work, or converting
            WebAuth solutions to use Shibboleth.  If you have any questions, contact me <a href="mailto:david.edwards@colostate.edu">via email</a> 
            or, <a href="http://web.colostate.edu">Web Communications</a> would be happy to assist you in converting legacy code to Shibboleth.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>