@{
    ViewBag.Title = "Protected Page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>If you are able to see this page, you have been successfully authenticated.  
    Note: Because Shibboleth is single sign-on, you may be signed in elsewhere.  If you 
    think this is in error, try opening an Incognito window to see if it's protected.</p>
